@import url("../css/basic.css");
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .group {
  opacity: 0;
  transform: translateY(30%);
  transition: 0.8s;
}
main .group.mem {
  opacity: 1;
  transform: translateY(0%);
}
main .bg {
  background: url("../imgs/event/Event_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .bg h2 {
  color: white;
  font-size: 3rem;
  font-family: "NotoSansKR-Medium";
}
main .bg hr {
  width: 4.5625rem;
  margin: 1rem;
  display: none;
}
main .bg p {
  font-size: 1.25rem;
  color: #818181;
  display: none;
}

.Event_list {
  width: 100%;
}
.Event_list .eventing {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 1%;
  display: flex;
  gap: 5%;
  justify-content: center;
  padding-left: 0px;
  border-bottom: 4px solid #C0C0C0;
}
.Event_list .eventing > li {
  position: relative;
  border-bottom: 4px solid #9988ff;
  padding-bottom: 15px;
  display: inline-block;
  bottom: -4px;
}
.Event_list .eventing > li a {
  color: #818181;
  font-size: 1.25rem;
}
.Event_list .eventing > li .black {
  color: black;
}
.Event_list .eventing > li hr {
  position: absolute;
  margin-top: 14%;
  border-color: #9988FF;
  width: 100%;
}
.Event_list .eventing > li a::before {
  display: inline-block;
  height: 0.5625rem;
  width: 0.5625rem;
  content: "";
  background-image: url("../imgs/common/icon/circle9x9.svg");
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5625rem;
}
.Event_list .eventing > li.active {
  border-bottom: 0px;
}
.Event_list .eventing > li.active a {
  display: block;
}
.Event_list .eventing > li.active a::before {
  display: none;
}
.Event_list hr {
  border-color: #C0C0C0;
}
.Event_list .colum-contianer {
  display: flex;
  flex-direction: column;
}
.Event_list .colum-contianer ul {
  margin: 4% auto;
  width: 80%;
  display: flex;
  margin: 10rem auto 5rem;
  justify-content: flex-start;
  gap: 4%;
  flex-wrap: wrap;
}
.Event_list .colum-contianer ul li {
  border-radius: 30px;
  border: 0px solid black;
  box-shadow: 1px 2px 20px 1px rgba(136, 136, 136, 0.5137254902);
  width: 22%;
  min-height: 19.8125rem;
  overflow: hidden;
  margin-bottom: 4%;
  transition: 1s;
}
.Event_list .colum-contianer ul li .bgimg {
  position: relative;
  height: 16rem;
  border-bottom: 0px solid black;
}
.Event_list .colum-contianer ul li .bgimg .end {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.Event_list .colum-contianer ul li .bgimg .end > img {
  z-index: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.Event_list .colum-contianer ul li .bgimg .end .blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.74);
}
.Event_list .colum-contianer ul li .bgimg .end_contants {
  color: white;
  border: 2px solid white;
  padding: 0.5rem 2.125rem;
  border-radius: 1.875rem;
  font-size: 0.875rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.Event_list .colum-contianer ul li .bgimg img {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.Event_list .colum-contianer ul li .txtbox {
  padding: 0rem 2.5rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  z-index: 10;
}
.Event_list .colum-contianer ul li .txtbox b {
  font-size: 1.2rem;
}
.Event_list .colum-contianer ul li .txtbox p {
  font-size: 0.75rem;
  color: #818181;
}
.Event_list .colum-contianer ul li .txtbox::before {
  content: "";
}
.Event_list .colum-contianer ul li:hover {
  transform: scale(105%);
  cursor: pointer;
}
.Event_list .column2 {
  display: none;
}

.page_turn {
  text-align: center;
  letter-spacing: 10px;
  margin: 5rem;
}
.page_turn a span {
  display: inline-block;
  transform: translateX(6px);
  height: 11px;
}

.page_turn.active {
  display: none;
}

@media screen and (max-width: 1280px) {
  main {
    width: 100%;
  }
  main .bg {
    background-image: url("");
    height: 401px;
    width: 100%;
    background-color: white;
    color: black;
  }
  main .bg h2 {
    color: black;
  }
  main .bg hr {
    display: block;
  }
  main .bg p {
    display: block;
  }
  main .Event_list .eventing > li hr {
    margin-top: 7%;
  }
  main .Event_list .colum-contianer ul {
    margin: 10rem auto 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .Event_list .colum-contianer ul li {
    width: 45%;
    font-size: 1.125rem;
  }
}
@media (max-width: 640px) {
  main {
    width: 100%;
  }
  main .bg {
    height: 401px;
    width: 100%;
    background-color: white;
    color: black;
  }
  main .bg h2 {
    color: black;
  }
  main .bg hr {
    display: block;
  }
  main .bg p {
    display: block;
  }
  main .Event_list .eventing > li hr {
    margin-top: 4%;
  }
  main .Event_list .colum-contianer ul {
    margin: 10rem auto 5rem;
    flex-wrap: wrap;
  }
  main .Event_list .colum-contianer ul li {
    width: 100%;
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }
  main .page_turn {
    margin: 3rem;
  }
}/*# sourceMappingURL=event.css.map */