main{
    font-family: "NotoSansKR-Regular";
    width: 100%;
    .group{
        opacity: 0;
        transform: translateY(30%);
        transition: 0.8s;
    }
    .group.mem{
        opacity: 1;
        transform: translateY(0%);
    }
    .title{ 
        width: 100%; height: 650px;
        background: url(../imgs/banner/title1\ \(8\).png);
        display:grid;
        place-items: center;
        overflow: hidden;
        h2{
            font-size: 48px;
            font-weight:500;
            color: #ffffff;
            padding-top: 4%;
            font-weight: 400;
            font-family: "NotoSansKR-Medium";
            //animation: title 1s ;
        }
/*         @keyframes title{
            0%{transform: translateY(30%);opacity: 0;}
            100%{transform: translateY(0%);}
        }
        @keyframes title_p{
            0%{transform: translateY(100%); opacity: 0;}
            100%{transform: translateY(0%);}
        } */
        .m_title{display: none;}
    }
    section{
        .box{
            margin-top: 5%;
            font-weight:500;
            width: 100%;
            height: 145px;
            background-color: #F3F3F5;
            display:grid;
            place-items: center;

            .container{
                width: 80%;
                display: flex;
                justify-content: space-between;
                gap: 1%;

                .noice{
                    width: 640px;
                    height: 51px;
                    display: flex;
                    align-items: center;
                    border-radius: 20px;
                    background-color: white;
                    font-size: 18px;
                    overflow: hidden;
                    img{
                        width: 35px;
                        height: 35px;
                        margin: 0 5%;
                    }
                    .notice_slide{
                        position: relative;
                        height: 59%;
                        width: 97%;
                        overflow: hidden;
                        
                        p{
                            position: absolute;
                            font-family: "NotoSansKR-Medium";
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transform: translateY(100%);
                            transition: transform 1s ease-in-out;
                            
                        }
                    }
                    .notice_slide.active p {
                        transform: translateY(0);
                    }
                }
                .box_btn{
                    width:180px;
                    height: 51px;
                    display: flex;
                    justify-content: center;
                    border: 1px solid #9988FF;
                    border-radius: 20px;
                    background-color: white;
                    font-family: "NotoSansKR-Medium";
                    font-size: 16px;
                    a{color: #9988FF;
                    margin-top: 11px;}
                    
                }
                .rental_search{
                    width: 40%;
                    height: 51px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 20px;
                    background-color: white;
                    input{
                        margin: 0 3% 0 5%;
                        width: 80%;
                        font-size: 1rem;
                        &::placeholder {
                            color: #9a88ffb2;
                        }
                        
                    }
                    button{
                        margin: 10px 15px;
                        background: url(../imgs/rental/header\ \(3\).png)no-repeat ;
                        width: 30px;
                        height: 30px;
                        background-size: contain;
                        cursor: pointer;
                        border: none;}
                }
            }
        }
        .line_menu{
            color: #818181;
            padding-top: 4%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 80%;
            font-family: "NotoSansKR-Medium";
            font-size: 18px;
            padding-bottom: 15px;
            border-bottom: 4px solid #C0C0C0;
            .content{
                .menu_item{
                    margin-left: 60px;
                    cursor: pointer;
                    position: relative;
                    padding-bottom: 15px;
                    .menu_circle {
                        display: none;
                        background-color: #9988FF;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        margin: 10px 10px 0 0;
                        transition: all 0.3s ease-in-out;
                      }

                      .line_point{
                        position: absolute;
                        border: solid 2px ;
                        height: 3px;
                        width: 100%;
                        color: #9988FF;
                        transform: translateY(13px);
                        left: 7%;
                        display: none;
    
                    }
                    .line_point_2{
                        display: none;
                    }
                    .line_point_3{
                        display: none;
                    }
                }
            }
            .line{
                color: #C0C0C0;
                margin-top: 1%;
                border: solid 2px ;
                height: 3px;
                width: 100%;
                display: none;
            }
        }
        
        .menu_item.active {
            cursor: pointer;
            color: #000;
            border-bottom: 4px solid #9988ff;
          }
        .table_radius{
            margin: 100px auto;
            width: 80%;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            border-bottom-left-radius: '0';
            border-bottom-left-radius: '0';
            table{
                font-size: 16px;
                width: 100%;
                height: 100%;
                border-style: hidden;
                border-bottom: 1px #c0c0c0;
                thead{
                    font-family: "NotoSansKR-Medium";
                    background-color: #9a88ff31;
                    border-radius: 10px;
                    tr{
                        th{
                            position: relative;
                            a{color: #c0c0c0; position: absolute; right: 0;}}
                        th:nth-child(1){
                            width:8%;
                        }
                        th:nth-child(2){
                            width:45%;
                        }
                        th:nth-child(3){
                            width:20%;
                        }
                        th:nth-child(4){
                            width:15%;
                        }
                        th:nth-child(5){
                            width:10%;
                        }
                    }
                }
                tbody{
                    color: #818181;
                    tr{td:nth-of-type(2){
                    text-align: start;
                    padding-left: 25px;
                    a{color: #818181;}
                    }}
                }
            }
        }
        th,td{
            border:1px solid #c0c0c0;
            border-width: 1px 0;
            padding: 18px 20px;
            text-align: center;
            img{
                width: 65px;
            }
        }
        .ongoing{ display: none;}
        .ended{display: none;}
    }
    .page{
        display: flex;
        justify-content: center;
        margin: 6% 0 5% 0;
        span{
            margin: 0px 5px;
            img{
                width: 15px;
                height: 15px;
                object-fit: cover;
            }
        }
        p{
            a{
                color: #818181;
                margin: 0 5px;
            }
            a.active{
                font-family: "NotoSansKR-Medium";
                color: #9988FF;
            }
        }
    }
}


@import "./m_rental";